* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    flex-shrink: 0;
    transition: all 0.3s;
    border-radius: 1em;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: #202124;
    user-select: none;
}

@keyframes escalado {
    0% {
        transform: scale(0.5);
        transform-origin: 100% 50%;
    }
    100% {
        transform: scale(1);
        transform-origin: 100% 50%;
    }
}

body {
    background-color: rgb(187, 186, 186);
    div.container-flex {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        column-gap: 5px;
        row-gap: 5px;
        >#header {
            width: 100%;
            background-color: rgb(173, 173, 173);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            >h1,
            >a,
            >i {
                color: white;
                text-align: center;
            }
            >a,
            >i {
                width: 10%;
                padding: 10px;
            }
            >h1 {
                padding-top: 10px;
                width: 100%;
            }
            >a {
                font-size: 25px;
            }
            >i {
                font-size: 30px;
            }
            >form#frmDatos {
                width: 70%;
                text-align: center;
                margin-top: 10px;
                input#busqueda {
                    width: 50%;
                    outline: none;
                    padding: 10px;
                    margin: 10px;
                    &:hover {
                        background-color: rgb(174, 174, 250);
                    }
                }
                button#btnfiltrar {
                    padding: 10px;
                    margin: 10px;
                    &:hover {
                        color: white;
                        background-color: rgb(174, 174, 250);
                    }
                }
            }
            i#menuInicio:hover,
            i#menuEnviar:hover,
            a:hover {
                color: rgb(75, 75, 241);
                background-color: rgb(230, 230, 230);
            }
        }
        div#frmAbs {
            display: none;
            width: 500px;
            height: 500px;
            padding: 10px;
            margin: 10px;
            bottom: 50px;
            right: 0;
            background-color: rgb(97, 97, 97);
            position: absolute;
            z-index: 100;
            form#frmEnviar {
                display: flex;
                flex-direction: column;
                align-items: center;
                div {
                    width: 100%;
                    text-align: end;
                    i {
                        padding: 3px;
                        margin: 3px;
                    }
                }
                input {
                    outline: none;
                    padding: 2px;
                    margin: 2px;
                    width: 100%;
                }
                textarea {
                    outline: none;
                    width: 100%;
                    padding: 2px;
                    margin: 2px;
                    height: 350px;
                }
                button {
                    outline: none;
                    width: 25%;
                }
                div>i:hover {
                    background-color: rgb(173, 173, 173);
                }
            }
        }
        div#frmAbs.active {
            display: block;
            animation: escalado 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
        >#menu {
            display: none;
            width: 20%;
            height: 20%;
            background-color: rgb(173, 173, 173);
            animation: escalado 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            div#menu-div {
                padding: 5px;
                div {
                    display: flex;
                    text-align: center;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    >i,
                    >p {
                        color: grey;
                        text-align: center;
                        width: 20%;
                    }
                }
                div:hover {
                    >i,
                    >p {
                        color: rgb(75, 75, 241);
                        font-size: 18px;
                    }
                    background-color: rgb(230, 230, 230);
                }
            }
        }
        >#menu.desactive {
            display: block;
        }
        >#main {
            width: 100%;
            div#correo {
                div {
                    padding: 10px;
                    display: flex;
                    >div {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        h2 {
                            text-align: start;
                            padding-left: 10px;
                            padding-bottom: 2px;
                        }
                        p {
                            padding-right: 10px;
                            padding-left: 10px;
                            text-align: start;
                        }
                    }
                    >div+div {
                        width: 19%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        h3 {
                            width: 50%;
                        }
                        div {
                            width: 31%;
                            i {
                                color: grey;
                                padding: 5px;
                            }
                            i:hover {
                                color: black;
                                background-color: rgb(255, 115, 115);
                            }
                        }
                    }
                    >div:hover {
                        >h2,
                        >p {
                            color: rgb(75, 75, 241);
                        }
                        background-color: rgb(230, 230, 230);
                    }
                }
                >div.activo {
                    display: flex;
                }
                >div.desactivar {
                    display: none;
                }
            }
            div#seleccionado {
                >div {
                    border: 1px solid grey;
                    background-color: rgb(218, 218, 218);
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    padding: 5px;
                    margin: 5px;
                    h2 {
                        text-align: start;
                        width: 40%;
                    }
                    h2.select_Mail {
                        text-align: center;
                    }
                    h3 {
                        width: 20%;
                        text-align: end;
                    }
                    h2,
                    h3 {
                        color: rgb(75, 75, 241);
                    }
                    p.select_Asunto {
                        border: 1px solid grey;
                        font-size: 20px;
                        padding: 10px;
                        width: 100%;
                        text-align: center;
                    }
                    p.select_Mensaje {
                        padding-top: 10px;
                        font-size: 15px;
                        width: 100%;
                    }
                }
            }
        }
        >#main.active {
            width: 79%;
        }
    }
}