* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    flex-shrink: 0;
    transition: all 0.3s;
    border-radius: 1em;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: #202124;
    user-select: none;
}

@keyframes escalado {
    0% {
        transform: scale(0.5);
        transform-origin: 100% 50%;
    }
    100% {
        transform: scale(1);
        transform-origin: 100% 50%;
    }
}

body {
    div.container-flex {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        column-gap: 5px;
        row-gap: 5px;
        >#header {
            width: 100%;
            background-color: rgb(173, 173, 173);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
            >h1 {
                padding-top: 10px;
                width: 100%;
                color: white;
                text-align: center;
            }
            >a {
                color: white;
                text-align: center;
                margin: 10px;
                padding: 10px;
            }
            >i {
                color: white;
                width: 10%;
                text-align: center;
                padding: 10px;
                font-size: 30px;
            }
            >form#frmDatos {
                width: 70%;
                text-align: center;
                margin-top: 10px;
                input#busqueda {
                    width: 50%;
                    outline: none;
                    padding: 10px;
                    margin: 10px;
                    &:hover {
                        background-color: rgb(230, 230, 230);
                    }
                }
                button#btnfiltrar {
                    padding: 10px;
                    margin: 10px;
                    &:hover {
                        background-color: rgb(230, 230, 230);
                    }
                }
                label.nombre {
                    color: white;
                }
            }
            i#menuInicio:hover,
            i#menuEnviar:hover,
            a:hover {
                background-color: rgb(230, 230, 230);
            }
        }
        div#frmAbs {
            display: none;
            width: 500px;
            height: 500px;
            padding: 10px;
            margin: 10px;
            bottom: 0;
            right: 0;
            background-color: aqua;
            position: absolute;
            transition: all;
            form#frmEnviar {
                display: flex;
                flex-direction: column;
                align-items: center;
                div {
                    width: 100%;
                    text-align: end;
                    i {
                        padding: 3px;
                        margin: 3px;
                    }
                }
                input {
                    padding: 2px;
                    margin: 2px;
                    width: 100%;
                }
                textarea {
                    width: 100%;
                    padding: 2px;
                    margin: 2px;
                    height: 400px;
                }
                button {
                    width: 25%;
                }
                div>i:hover {
                    background-color: rgb(173, 173, 173);
                }
            }
        }
        div#frmAbs.active {
            display: block;
            animation: escalado 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
        >#menu {
            display: block;
            width: 20%;
            background-color: rgb(173, 173, 173);
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
            text-align: center;
            ul#menu-li {
                padding: 5px;
                li:hover {
                    font-size: 18px;
                    background-color: rgb(230, 230, 230);
                }
            }
        }
        >#menu.desactive {
            display: none;
        }
        >#main {
            width: 79%;
            div#correo {
                flex-direction: column;
                div {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 2px;
                    margin: 2px;
                    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
                    h2 {
                        text-align: start;
                        padding-left: 10px;
                        padding-bottom: 2px;
                        width: 66%;
                    }
                    h3 {
                        text-align: end;
                        width: 33%;
                    }
                    p {
                        padding-right: 10px;
                        padding-left: 10px;
                        text-align: start;
                    }
                }
                div:hover {
                    background-color: rgb(212, 211, 211);
                }
                >div.activo {
                    display: flex;
                }
                >div.desactivar {
                    display: none;
                }
            }
        }
        >#main.active {
            width: 100%;
        }
    }
}